* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Open Sans", sans-serif;
	color: #333;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
}

a:hover {
	color: #5d9963;
	transition: all 1s;
}

/* Typography */

.heading {
	line-height: 1.6;
	text-align: center;
	font-family: "Berkshire Swash", cursive;
	letter-spacing: 5px;
}

.heading_1 {
	font-size: 10rem;
	color: #eb9595;
}

.heading_2 {
	font-size: 5rem;
	color: #000;
}

.heading_3 {
	font-size: 3rem;
	color: #e26e6ee5;
	margin-bottom: 3rem;
	text-transform: uppercase;
}

p {
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
	text-align: center;
}

/* Header */

header {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(
			105deg,
			#1d0909 0% 18%,
			#e26e6ee5 18% 30%,
			#6b4949a8 30% 100%
		),
		url(./img/ennio.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: 56rem;
	grid-template-rows: 30% 70%;
	border-bottom: 4rem solid #e26e6e;
}

.header__title {
	display: grid;
	grid-column: 2;
	grid-row: 2;
	margin-bottom: 10rem;
}

.header__info {
	font-size: 5rem;
	color: #eb9595;
	text-align: center;
	text-transform: uppercase;
}

/* Navigation bar */

nav {
	display: grid;
	grid-column: 1;
	grid-row: 1;
	border-top: 2rem solid #e26e6e;
}

.btn {
	display: inline-block;
	font-size: 3rem;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	padding: 1rem 0.5rem;
	background-color: #e26e6ef0;
	border-bottom: 5px solid #fff;
	transition: all 1s;
}

.btn:hover {
	border-bottom: 5px solid #076119;
	background-color: #5d9963;
	color: #fff;
}

.navi__link1 {
	width: 59%;
	clip-path: polygon(0% 0%, 97.5% 0%, 92% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 99.5% 0%, 94% 100%, 0% 100%);
}

.navi__link2 {
	width: 55%;
	clip-path: polygon(0% 0%, 98% 0%, 92% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 94% 100%, 0% 100%);
}
.navi__link3 {
	width: 52%;
	clip-path: polygon(0% 0%, 97% 0%, 91.5% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 99% 0%, 93% 100%, 0% 100%);
}
.navi__link4 {
	width: 49%;
	clip-path: polygon(0% 0%, 98% 0%, 92% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 98% 0%, 91% 100%, 0% 100%);
}

/* Section About */

.about {
	margin: 0.5rem 0;
	border-bottom: 0.5rem solid #e26e6e;
	background-image: linear-gradient(
		105deg,
		#a0676767 0% 65%,
		#e26e6ef1 65% 91.5%,
		#1d0909 91.5% 100%
	);
	display: grid;
	grid-template-columns: 62.5% 37.5%;
}

.about__text {
	padding: 5rem;
}

.about__pic {
	border-bottom: 5rem solid #e26e6e;
	clip-path: polygon(0% 0%, 98% 0%, 92% 100%, 0% 100%);
	-webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.about__img {
	width: 100%;
	opacity: 0.15;
}

/* Section Movies */

.movie {
	border-bottom: 5rem solid #e26e6ef1;
	background-image: linear-gradient(
		105deg,
		#a0676767 0% 45%,
		#e26e6ef1 45% 58.5%,
		#a0676767 58.5% 100%
	);
}

.movie__soundtracks {
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5rem;
}

/* Section Music */

.music {
	margin: 0.5rem 0;
	background-image: linear-gradient(
		105deg,
		#e26e6ef1 0% 38%,
		#a0676767 38% 88%,
		#dca8a8d7 88% 100%
	);

	display: grid;
	grid-template-columns: 5rem repeat(2, 1fr);
}

.music__title {
	text-align: left;
	margin-top: 4rem;
}

.music__list {
	font-size: 1.6rem;
	display: grid;
	grid-column: 2;
}

.music__pic {
	margin: 0;
	display: grid;
	grid-column: 3;
	opacity: 0.2;
	clip-path: polygon(18% 0%, 97% 0%, 82% 100%, 0% 100%);
	-webkit-clip-path: polygon(18% 0%, 97% 0%, 78.5% 100%, 0% 100%);
}

/* Section Awards */

.awards {
	border-bottom: 5rem solid #e26e6e;
	margin: 0.5rem 0;
	width: 100%;
	height: 80vh;
	background-image: linear-gradient(
			105deg,
			#e26e6ef1 0% 10%,
			#d19c9cb9 10% 29.8%,
			#572525a8 29.8% 100%
		),
		url(./img/ennio4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.awards__heading {
	color: #e69898f1;
}

.awards__text {
	color: #fff;
	text-align: center;
}

.awards__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Footer */

footer {
	width: 100%;
	height: 17vh;
	background-image: linear-gradient(to right, #6b4949ec, #6b4949ec),
		url(./img/ennio1.jpg);
	background-size: contain;
}

.footer__title {
	padding-top: 1rem;
}

.footer__text {
	font-size: 2rem;
}
